<!DOCTYPE html>
<html>

<head>
  <meta charset="UTF-8">
  <title>User Management System</title>
  <link rel="stylesheet" href="/style.css">
</head>

<body>
  <div class="navbar">
    <div class="logo">User Management System</div>
    <ul class="menu">
      <li><a class="nav-link" href="/">Home</a></li>
    </ul>
    <form action="/" method="POST">
      <input class="search-bar" type="search" name="search" placeholder="Search...">
      <button class="btn btn-light" type="submit">Search</button>
    </form>
  </div>

  <div class="content-container">
    {{{body}}}
  </div>
  <script src="/scripts.js"></script>
</body>
</html>
